<!DOCTYPE>
<html>
	<head>
		<title>uawc7-intro</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<!--[if lt IE 9]>
			<script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
			<script src="bower_components/respond/dest/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="stage" class="message">
			<p>Тест на уровень психической солидности личности. Постарайтесь быть объективны.</p>
			<button class="start">Начать</button>
		</div>

		<script id="question" type="text/template">
			<%= question %>
			<ul class="options"></ul>
			<button class="next">Дальше</button>
		</script>

		<script id="result" type="text/template">
			<%= message %>
		</script>

		<script type="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="bower_components/underscore/underscore-min.js"></script>
		<script type="bower_components/backbone/backbone.js"></script>
		<script type="app.js"></script>
	</body>
</html>