<!DOCTYPE>
<html>
	<head>
		<title>uawc7-intro</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="style.css">
		<!--[if lt IE 9]>
			<script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
			<script src="bower_components/respond/dest/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="stage">
			<p>Тест на уровень психической солидности личности. Постарайтесь быть объективны.</p>
			<button class="start">Начать</button>
		</div>

		<script id="question" type="text/template">
			<p><%= text %></p>
			<ul class="options"></ul>
		</script>

		<script id="result" type="text/template">
			<p><%= text %></p>
			<p class="author">— Профессор гуманитарных наук и доцент кафедры академической гадания по кофейной гуще Федосов А.С.</p>
		</script>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/underscore/underscore-min.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="app.js"></script>
	</body>
</html>